.show-container {
  font-family: 'Open Sans';
  margin: 0;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
    }

    .field {
      padding: 0 15px;
      width: 100%;

      input {
        width: 100%;
        height: 3vh;
      }

      textarea {
        width: 100%;
        height: 10vh;
      }
    }
  }

  .button {
    position: relative;
    width: 100%;
    font-size: 1em;
    margin-bottom: 2rem;
  }

  .button, a {
    text-decoration: none;
    background-color: #4287f5;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
  .button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}



