.show-container {
  font-family: 'Open Sans';
  margin: 0;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .field {
      padding: 0 15px;
      width: 50%;

      input {
        width: 100%;
        height: 3vh;
      }

      textarea {
        width: 100%;
        height: 10vh;
      }
    }
  }
}



