$primary-blue: #4287f5;

.main-container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    display: inline-block;
    width: 29%;
    .profile-card {
        background-color: white;
        margin-bottom: 25px;
        border: 1px solid #dfdfdf;
        font-family: 'Open Sans';
        img {
            display: block;
            width: 175px;
            height: 175px;
            border-radius: 200px;
            margin: 0 auto;
            margin-top: 35px;
            margin-bottom: 30px;
        }
        h1 {
            text-align: center;
            font-size: 28px;
        }
        p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 30px;
        }
        h3 {
            text-align: center;
            font-size: 22px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h5 {
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            margin: 0;
        }
    }
    .recommended-card {
        background-color: white;
        border: 1px solid #dfdfdf;
        font-family: 'Open Sans';
        h1 {
            font-size: 28px;
            text-align: center;
        }
        p {
            font-size: 22px;
            text-align: center;
        }
    }
}

.main {
    display: inline-block;
    width: 65%;
    .new-tweet {
        background-color: white;
        margin-bottom: 25px;
        padding-bottom: 50px;
        form {
            padding-top: 5px;
            padding-bottom: 3px;
            .field {
                padding-top: 15px;
                display: inline-block;
                width: 100%;
                textarea {
                    display: inline-block;
                    width: 90%;
                    height: 35px;
                    margin-left: 2.5%;
                    font-size: 28px;
                    padding: 2.5%;
                    border: none;
                    border-bottom: 2px solid #ccc;
                    overflow: hidden;
                }
                textarea:focus {
                    outline: none;
                }
            }
            .actions {
                float: right;
                margin-right: 20px;
                margin-top: 5px;
                input[type="submit"] {
                    height: 40px;
                    width: 110px;
                    border-radius: 20px;
                    border: 1px solid #eee;
                    background-color: $primary-blue;
                    color: white;
                    font-size: 18px;
                    font-family: 'Open Sans'
                }
            }
        }
    }
    .post-card {
        background-color: white;
        border: 1px solid #dfdfdf;
        padding: 20px 30px;
        padding-bottom: 5px;
        box-sizing: border-box;
        margin-bottom: 25px;
        min-height: 100px;
        border-radius: 3px;
        .post-user-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .post-user {
                width: 50%;
                .post-user-name {
                    display: inline-block;
                    // position: relative;
                    // bottom: 16px;
                    // left: 15px;
                    font-size: 22px;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    margin-left: 10px;
                    position: relative;
                    bottom: 3px;
                    p {
                        margin: 0;
                    }
                }
            }
            i {
                font-size: 24px;
            }

            #post-options  {
                display: none;
            }

            .lbl-toggle {
                cursor: pointer;
            }

            .post-time {
                font-family: 'Open Sans';
                font-size: 13px;
                margin: 0;
                font-weight: 400;
            }
            img {
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 50px;
            }
        }
        .post-options-menu {
            display: none;
            float: right;
        }
        .post-content {
            width: 100%;
            display: block;
            font-family: 'Open Sans';
            font-size: 18px;
        }
        .bottom-bar {
            width: 72px;
            display: flex;
            justify-content: space-between;
            .like {
                display: inline-block;
                form {
                    display: inline-block;
                }
                a {
                    margin-left: 4px;
                }
            }
            i {
                font-size: 21px;
                color: $primary-blue;
                display: inline-block;
            }
            .like-count {
                display: inline-block;
                position: relative;
                bottom: 3px;
                font-size: 16px;
                font-family: 'Open Sans';
            }
            .like-button-wrap {
                background: none;
                border: none;
                display: inline-block;
            }
            .like-button-wrap:hover {
                cursor: pointer;
            }
            .comment-button {
                margin-top: 14px;
            }
        }
    }

}

.edit-profile-button {
    width: 90%;
    display: block;
    margin-bottom: 20px;
    margin-top: 40px;
}

a.edit-profile {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-size: 23px;
}

a.edit-profile:hover {
    color: $primary-blue;
}