@import 'nav';
@import 'homepage';
@import 'forms';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap');

body {
    margin: 0;
    background-color: #ededed;
    width: 100%;
}

.content-container {
    width: 60%;
    margin: 0 auto;
}